$fontFamily: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Arial,sans-serif;
$f-weight-400: 400;
$f-weight-600: 600;

$f-size-16: 15px;
$f-size-24: 16px;
$f-size-24: 24px;

$color-black-1: rgba(0,0,0,.54);
$color-black-2: rgba(0,0,0,.84);
